header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #1E001B;
    color: #fff;
}

.header-navigate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-logo {
    font-family: 'Rubik';
}

.header-logo a {
    text-decoration: none;
    color: #fff;
}

.header-navigate a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
}

.header-navigate-links {
    padding-left: 1%;
    padding-right: 1%;
}

.header-navigate-login {
    padding-left: 4%;
    padding-right: 4%;
}

.header-navigate-anuncios {
    padding-left: 4%;
    padding-right: 4%;
}

#menu-appbar {
    margin-top: 2%;
}

.header-navigate-perfil {
    display: flex;
}

.header-navigate-criar {
    background-color: #018d2b;
    padding: 4%;  
    border-radius: 5px;
    margin-right: 2%;
}

.header-navigate-criar a{
    display: flex;    
}