.home-body {
    background-color: #736479;
    width: 100%;
    height: 100vh;
}

.home-container {
    padding-top: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding-top: 2%;
    padding-bottom: 2%;


    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

img{
    width: 60%;
    height: auto;
}

.home-texto {
    color: #fff;
    font-family: 'Montserrat';
    text-justify: center;
    text-align: center;
    padding-top: 2%;
    padding-right: 1%;
    font-size: 35px;
}